* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1020;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1100px;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#map {
    width: 100%;
}

#indiaMap {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.state-highlight {
  fill: #ffcc00 !important;
  stroke: #ffffff;
  stroke-width: 1.5;
  filter: drop-shadow(0 0 8px #ffcc00);
  transition: all 0.5s ease;
}
